<% provide(:title, 'Контакты') %>

<div class="row text-center">
	<h1>Контакты</h1>
</div>

<div class="row">
	<div class="small-12 columns" >
		<ul class="no-bullet text-center">
			<li>email</li>
			<li>vk</li>
			<li>git</li>
		</ul>
	</div>
</div>