<% provide(:title, 'Контакты') %>

<div class="row text-center">
	<h1>Контакты</h1>
</div>

<div class="row">
	<div class="small-12 columns" >
		<ul class="no-bullet">
			<li><%= mail_to "samaydanov@gmail.com", "samaydanov@gmail.com" %></li>
			<li><%= link_to	"vk", "http://vk.com/samaydanov" %></li>
			<li><%= link_to "github", "https://github.com/nitroFamily/timetable" %></li>
		</ul>
	</div>
</div>