<% provide(:title, 'Главная') %>

<div class="row text-center">
	<h1>Timetable</h1>
	<h3 class="subheader">Создай свое расписание</h3>
	<%= link_to "Создать расписание!", signup_path, class: "button" %>
</div>