<% provide(:title, 'Главная') %>

<div class="row text-center">

	<div class="small-12 small-centered columns">
			
			<h1 class="logo"><%= image_tag "bonch.png"%>Timetable</h1>
			<h3 class="subheader">Создай свое расписание</h3>
			<%= link_to "Создать расписание!", signup_path, class: "button" %>
		</div>
	</div>
	
	
	
</div>
