<% provide(:title, 'Главная') %>
<div class="center hero-unit">
  <h1>Timetable</h1>
  <h2>Создай свое расписание</h2>
  <%= link_to "Создать расписание!", signup_path, class: "btn btn-large btn-primary" %>
</div>