<div class="row">
  <div class="small-10 small-centered medium-12 columns">
    <div class="pagination-centered">
      <ul class="pagination">
        <li class="arrow unavailable"><a href="">&laquo;</a></li>
        <% 18.times do |i| %>
          <li 
            <% if @week.to_i == i + 1 %>
             class="current"
            <% end %>
          ><%= link_to "#{i + 1}", group_path(id: @group.id, week: i + 1) %></li>
        <% end %> 
        <li class="arrow"><a href="">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>