<footer class="footer">
  <small>
    <a href="#">GitHub</a>
  </small>
  <nav>
    <ul>
    	<li><%= link_to "Помощь", help_path %></li>
      <li><%= link_to "О нас", about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </nav>
</footer>