<footer class="footer">
  <div class="row">
    <nav class="breadcrumbs">
      <%= link_to "Как создать расписание?", help_path %>
      <%= link_to "Контакты", contact_path %>
    </nav>
  </div>
</footer>

